################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PasswordManager/PasswordManager/bin/Release
/PasswordManager/PasswordManager/obj/Release
/PasswordManager/.vs
